
@font-face { font-family: Scriptbl; src: url('SCRIPTBL.TTF'); }
body {
    font-size: 2vh;
    color: #892a8c;
    font-family: Scriptbl;
    font-family: Cambria,Georgia,serif;
}

* {
    box-sizing: border-box;
    user-select: none;
}

#info {
    background: #ccffd1;
    background: url(img/info_tausta.jpg);
    background-size: cover;
}

#pic {
    background: black;
    position: relative;
    overflow: hidden;
}

#program {
    background: white;
    background: linear-gradient(white, #af78b0);
}

.header {
    padding: 20px 10px;
    font-size: 8vh;
    text-align: center;
}
.header img {
    height: 12vh;
}

#infoContent {
    font-size: 4vh;
    margin-left: 7vw;
    margin-right: 1vw;
}

#imageText {
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 1vw;
    text-align: center;
    color: white;
    font-size: 1.6vw;
    text-shadow: 0 0 1vw black, 0 0 0.4vw black;
}

#places {
    text-align: center;
    font-size: 2vw;
    font-family: Scriptbl;
}
#programContent {
    position: relative;
}

.transformer > * {
    transition: all 1s;
    opacity: 1;
}
.hide > *{
    opacity: 0;
}

#currentTimeIndicator {
    width: 100%;
    position: absolute;
    top: 12.5%; /* will be corrected on refresh */
    height: 0.4vh;
    background: #af78b0;
    opacity: 0.6;
    transform: translateY(-50%);
}

.leaf {
    /* width: 10%; */
    /* width: auto; */
    height: 100%;
    width: 10%;
    position: absolute;
    top: -4%;
    left: 0;
}

.leaf.rightLeaf {
    right: 0;
    left: auto;
}

.programCell {
    border-left: 1px solid #892a8c;
    border-radius: 2px;
    padding-left: 5px;
    /* font-family: Helvetica; */

    overflow: hidden;
    font-size: 1.4vh;
}
.programCellTime {
    font-size: 1.2vh;
}

.programCell.tiny {
    font-size: 1.1vh;
}
.programCell.tiny * {
    display: inline;
}
.programCell.tiny .programCellTime {
    font-size: 1vh;
    margin-left: 0.5vh;
}

.programCell.small {
    font-size: 1.2vh;
}
.programCell.small * {
    /* display: inline; */
}
.programCell.small .programCellTime {
    font-size: 0.9vh;
    /* margin-left: 0.5vh; */
}
